<div id="<%= dom_id exhibit %>">
  <p>
    <strong>Name:</strong>
    <%= exhibit.name %>
  </p>

  <p>
    <strong>Intro:</strong>
    <%= exhibit.intro %>
  </p>

  <p>
    <strong>Treasure:</strong>
    <%= exhibit.treasure %>
  </p>

</div>
