

    <body>    
        <br>
        <div class="jumbotron">
                <div class="container" style="text-align: center;">
                <h1><%= @exhibit.name%></h1>
            </div>
        </div>

        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://mail.google.com/mail/u/0?ui=2&ik=cec2db1fe0&attid=0.3&permmsgid=msg-f:1723974342859995276&th=17ecc987e40eb88c&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9eqoqMHskbk9w2em1s09bKpgDBrh-biRnPnSESRjDcF5Tqs4vP5OvJ71gLmymono_WWVecGchqd3JsAaIycxG25OyyNPN99vfrFJnmMkTy3U240PVB9Oqxb0A&disp=emb&realattid=ii_kzakloh12" class="img-responsive" alt="Responsive image" style="height: 200px;">
                </div>
                <div class="col-sm-8">
                    <p style="font-size: large;">Come and Meet My Friend!</p>
                    <%= @exhibit.intro%>
                </div>
            </div>
        </div>
        <br>
        
        <% if @exhibit.treasure%>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p style="font-size: large; color: green">Congratulations! You have just found a magic egg!</p>
                </div>
            </div>
        </div>
        <% if !logged_in?%>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p style="font-size: large; color: red"><%= link_to "Subscribe", user_login_path%> now to get the egg!</p>
                </div>
            </div>
        </div>
        <% end%>
        <%end %>
    </body>